.container {
    background-color: #ccc;
    height: 200px;
    /* habilitando FLEXBOX */
    display: flex;
    
    /* Valor padrão */
    flex-direction: row;
    /* row | column |row-reverse | column-reverse; */

    /* define se haverá quebra de linha, o padrão é "no wrap" */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* wrap | wrap-reverse; */

    /* forma resumida de usar o FLEX DIRECIOTION e do FLEX WRAP */
    /* flex-flow: row wrap; */
    
    /* alinhamento HORIZONTAL, padrão START --> da esqueda para direita */
    justify-content: center;
    /* start | center | space-between | space-around */

    /* alinhamento VERTICAL, padrão STRETCH*/
    align-items: stretch;
    /* stretch | center | baseline */

    align-content: flex-starter;
    /* flex-start | flex-end | center |space-betwenn | space-around */

}

.item {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 5px;
    width: 30%;
}

.article01 {
    /* flex-grow buscar ocupar 3x mais espaço que demais itens */
    flex-grow: 3;
    /* defini a largura inicial */
    flex-basis: 30px;
    /* defini largura minima */
    flex-shrink: 1;

    /* flex resumes as tres propriedades acima */
    flex: 3, 30, 1;
    order: 2;
}

.article02 {
    order: 3;
}

.article03 {
    order: 1;
}